* {
    width: 100%;
}

hr {
    margin: 0;
}

div {
    display: block;
}

.logo {
    width: 18%;
    float: left;
    margin-top: 15px;
}   

.volumes {
    width: 20%;
    float: right;
}

.info {
    margin-left: 35px;
    width: 50%;
    float: left; 
    font-size: 20px;
}

.c, .city {
    margin-top: 8px;
}

.c {
    font-size: 30px;
}

.city {
    font-size: 25px;
}

.qnt {
    font-size: 47px;
}

.vol {
    margin-top: 5px !important;   
    font-size: 25px;
}