{% extends 'templates/template.twig' %} 

{% block title %} Sistema - Inicio {% endblock %}

{% block menu %} 

{% include 'templates/menus/travel_menu.twig' %}
{% endblock %} {% block content %}


{# aqui começa a brincadeira #}

<h1>Relatório de Viagem</h1>
<hr>

<form action="{{ path_for('create') }}" method="POST" target="_blank">
    
    <div class="form-row">
        <div class="form-group col-md-12">
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Criar Relatório">
        </div>
        <!-- form-group -->
    </div>
    <!-- form-row -->
    
    <div id='1' class="form-row">
            Motorista: &nbsp;<input type="text" name="driver" class="form-control col-md-10" placeholder="Nome do Motorista" required>
    </div>
    <!-- create area -->
    <div id='1' class="form-row create-area">
        <div class="form-group col-md-5">
            <label for="cliente">Cliente</label>
            <input type="text" name="info1[customer]" class="form-control col" placeholder="Cliente" required>
        </div>
        <!-- form-group -->
        <div class="form-group col-md-4">
            <label for="cliente">Cidade</label>
            <input type="text" name="info1[city]" class="form-control col" placeholder="Cidade" required>
        </div>
        <!-- form-group 
            usar no futuro quando for criar o das tags
            <div class="form-group col-md-1">
                <label for="cliente">QNT</label>
                <input type="number" name="info1[amount]" class="form-control col" placeholder="Qnt" required>
            </div> -->
            <div class="form-group col-md-3">
                <label for="actions">Ações</label><br>
                <button class="form-contol btn btn-info add">Add</button>
                <button class="form-contol btn btn-danger rm">Remove</button>
            </div>
            <!-- form-group -->
        </div>
        <!--form-row -->
        <input type="hidden" name="report" value='{{ report }}'>
        <!-- /create area -->
    </form>
    {# aqui termina a brincadeira #}
    {% endblock %}
    {% block cjs %}
    <script src="/assets/js/reports/travel.js"></script>
    {% endblock %}  