<ul class="tm-main-nav-ul">  
      {% for m in menu %}

        <li class="tm-nav-item">      
            <a href="/{{ (prefix) }}{{ m | slug }}" class="tm-nav-item-link">{{ m }}</a>
        </li>

      {% endfor %}
  </ul>