{% extends 'templates/template.twig' %} 

{% block title %} Sistema - Inicio {% endblock %}

{% block menu %} 

{% include 'templates/menus/travel_menu.twig' %}

{% endblock %} {% block content %}


{# aqui começa a brincadeira #}

<h1>Olá amiginho, faça algo legal aqui</h1>
<hr>

<a href="relatorios/viagem" target"_blank"><button class="btn btn-secondary">Criar Relatorio de Viagem</button></a>

<a href='createRepo' target='_blank'><button>Criar relarorio</button></a>

{# aqui termina a brincadeira #}
{% endblock %}
{% block cjs %}
{% endblock %}